.main-aside-all {
    width: 25%;
    max-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;

    // 让侧边栏吸附，放在随视图组件，例如正文的滑动而滑动
    position: sticky;
    top: 80px;

}