@media screen and (max-width: 600px) {

    .xPerson {

        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 10px;

        background-color: white;


        // box-shadow: 5px 5px 18px #dedede,
        //     -5px -5px 18px #ffffff;

        box-shadow: 5px 5px 18px #e0dcdc,
            -5px -5px 18px #eeeaea;

        padding: 10px;

        .xPerson-icon {
            width: 50px;
            height: 50px;
            padding: 5px;
            margin-top: 10px;

            border-radius: 5px;
            box-shadow: 1px 1px 3px #dedede,
                -1px -1px 3px #f5f0f0;
        }

        .xPerson-intro {
            margin-top: 10px;
            color: #bebcbc;
            font-size: 12px;
        }

        .xPerson-links {
            margin-top: 10px;


            .xPerson-links-icon {
                margin: 0 5px;
                text-decoration: none;
                color: #000;

                i {
                    font-size: 10px;
                }
            }

            .xPerson-links-icon:hover {

                color: #263d95;
            }


        }

        .xPerson-time {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 12px;
            color: #bebcbc;
            padding: 5px 10px;

            background-color: white;
            border-radius: 10px;
            margin: 10px;

            color: rgb(109, 44, 55);
            font-size: 10px;
            font-family: '优设标题黑';
            display: flex;
            justify-content: center;
            align-items: center;

            box-shadow: 0.1875rem 0.1875rem .125rem #f0f0f0 inset,
                -0.1875rem -0.1875rem .125rem #faf8f8 inset;

        }
    }
}