/* Markdown 代码块通用样式 */
.custom-code {
    background-color: #1e1e2f; // 深色背景
    color: #f8f8f2; // 字体颜色
    border-radius: 8px;
    padding: 1rem;
    font-size: 0.9rem;
    overflow-x: auto;
    line-height: 1.5;
    position: relative;
}





.custom-block-warning {
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    padding: 16px;
    border-radius: 4px;
    margin: 16px 0;





    .custom-block-title {
        font-weight: bold;
        margin-bottom: 8px;
        // background-color: rebeccapurple;
    }
}

.custom-block-info {
    border: 1px solid transparent;
    background-color: #eef2f3;
    padding: 16px;
    border-radius: 4px;
    margin: 16px 0;


    .custom-block-title {
        font-weight: bold;
        // margin-bottom: 8px;
        color: #000;
        // 清除缩进
        text-indent: 0;
    }
}


.custom-block-danger {
    border: 2px dashed red;
    // background-color: #f1dfdfc8;
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    margin: 16px 0;
    transition: all 1s ease;

    &:hover {
        background-color: #eed4d78b;
        // 背景色
        background-color: #ffffff;
        // 网格样式
        background-image:
            // 水平线
            linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
            // 垂直线
            linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
        // 网格间距20px 
        background-size: 100% 20px, 20px 100%;

        // 对齐起点
        background-position: 0 0;

    }

    .custom-block-title {
        font-weight: bold;
        // margin-bottom: 8px;
        color: #932626;
        // 清除缩进
        text-indent: 0;
    }
}


.custom-block-tip {
    border: 2px dashed #2d1a76;
    // background-color: #f1dfdfc8;
    background-color: #d9d1f3;
    padding: 16px;
    border-radius: 4px;
    margin: 16px 0;
    transition: all 1s ease;

    // &:hover {
    //     background-color: #eed4d78b;
    //     // 背景色
    //     background-color: #ffffff;
    //     // 网格样式
    //     background-image:
    //         // 水平线
    //         linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    //         // 垂直线
    //         linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    //     // 网格间距20px 
    //     background-size: 100% 20px, 20px 100%;

    //     // 对齐起点
    //     background-position: 0 0;

    // }

    .custom-block-title {
        // 布局
        display: inline-block;
        padding: 3px 10px;
        border-radius: 10px;
        margin-bottom: 10px !important;
        background-color: rgb(32, 16, 108);
        min-width: 50px;

        // 字体样式
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        color: white;


        // 清除缩进
        text-indent: 0;
    }
}