.code-block-wrapper {
    margin: 20px auto;
    position: relative;
    padding: 25px;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #dedede,
        -2px -2px 5px #f2f0f0;
    display: flex;
    flex-direction: column;


    .code-block-header {
        position: absolute;
        top: 5px;
        left: 20px;
        font-size: 14px;
        font-weight: 600;
        color: #1c1245;

    }


    .copy-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 2px 6px;
        font-size: 0.75rem;
        background: rgba(0, 0, 0, 0.2);
        color: #fff;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 1s ease;

        &:hover {
            background-color: rgb(68, 165, 217);
            // color: red;
        }
    }

    pre.hljs {
        margin: 0;
        padding: 16px;
        overflow: auto;
        border-radius: 5px;
        line-height: 1.6;
        font-size: 13px;

    }



}