// 引入重置样式，清空所有的默认样式
@use './reset.scss';
// 引入字体样式
@use './font.scss';
// 引入自定义的 md 基础样式
@use './markdown.scss';
// 引入自定义容器块样式
@use './custom-block.scss';
// 高亮代码块的样式
@use './hljs.scss';
// 指针样式
@use './cursors.scss';


::-webkit-scrollbar {
    display: none;
}

html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}