// 文本加粗
strong {
    font-weight: 600;
}

code {
    padding: 0;
    flex: 1;
}

// 列表样式 
ul {
    // 添加小圆点
    list-style: disc;
    padding-left: 2rem;
    // 优化高度
    margin: 5px 0;

    // 关闭文本的缩进
    p {

        // 设置段落的首行缩进
        text-indent: 0em;
    }

    li {
        margin: 10px 0;

        // 列表中的小代码块
        code {
            background-color: rgba(202, 209, 215, 0.434);
            margin: 0 3px;
            padding: 2px 6px;
            border-radius: 5px;
            font-size: 14px;
            color: #3451b2;
            font-family: '优设标题黑';
            // 字符间距
            letter-spacing: 1px;

        }



    }


}


// 文本
p {
    // 设置合理的行高
    line-height: 1.8;
    // 正文文本的颜色
    color: #323238;
    // 正文文本的字体
    font-family: 'Inter';

    // 设置段落的首行缩进
    // 废弃！会在各种地方产生起反效果
    // 注意！如果使用！
    // - 列表中要把缩进清除
    // - 连续文本，必须在段与段再空一行
    // text-indent: 2em;


}

hr {
    border: none;
    height: 2px;
    margin: 24px 0;
    background: repeating-linear-gradient(to right,
            transparent 0,
            transparent 2px,
            #ccc 10px,
            #ccc 20px);
    mask-image: linear-gradient(to right, transparent, black 40%, black 60%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 40%, black 60%, transparent);
}



// 标题样式
h1 {
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
    font-family: '优设标题黑';
    // background-color: rebeccapurple;
}

h2 {
    font-size: 26px;
    margin: 20px 0;
    margin-top: 100px;
    font-family: '优设标题黑';
    // 页面大纲跳转时，预留对导航栏的距离，以免被遮挡
    scroll-margin-top: 100px;

    code {
        background-color: rgba(202, 209, 215, 0.434);
        background-color: black;
        margin: 0 3px;
        padding: 2px 6px;
        border-radius: 5px;
        color: #3451b2;
        font-family: '优设标题黑';
        font-size: 22px;
        color: white;
        // 字符间距
        letter-spacing: 1px;
    }
}

h3 {
    font-size: 22px;
    margin: 20px 0;
    margin-top: 50px;

    // margin-top: 100px;
    // text-align: center;
    font-family: '优设标题黑';
    // color: rebeccapurple;
    // 页面大纲跳转时，预留对导航栏的距离，以免被遮挡
    scroll-margin-top: 100px;
}

h4 {
    font-size: 18px;
    margin: 20px 0;
    margin-top: 50px;
    color: #323238;
    font-family: '优设标题黑';
    // 页面大纲跳转时，预留对导航栏的距离，以免被遮挡
    scroll-margin-top: 100px;
}

// 行内代码设置
p {
    code {
        background-color: rgba(202, 209, 215, 0.434);
        margin: 0 3px;
        padding: 2px 6px;
        border-radius: 5px;
        font-size: 14px;
        color: #3451b2;
        font-family: '优设标题黑';
        // 字符间距
        letter-spacing: 1px;
    }
}

P {

    // 链接样式
    a {
        margin: 0 5px;
        font-size: 15px;
        color: #3451b2;

        text-decoration: underline;
        text-decoration-thickness: 1px; // 下划线粗细
        text-underline-offset: 4px; // 👈 控制下划线和文字的距离
    }

    a:hover {
        color: #b95318;
    }

}




// 引用样式
blockquote {
    margin: 1.2em 0;
    padding: 1em 1.5em;
    border-left: 4px solid rgba(0, 180, 255, 0.6);
    background: rgba(0, 180, 255, 0.1); // 冰蓝透明背景
    border-radius: 10px;

    color: #033f5e;

    line-height: 1.7;
    position: relative;
    backdrop-filter: blur(6px); // 毛玻璃模糊
    -webkit-backdrop-filter: blur(6px); // Safari 兼容

    p {
        margin: 0;
        color: #2978a0 !important;

    }

    &>*+* {
        margin-top: 0.6em;
    }
}

// 引用中的 code
blockquote code {
    background: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 1);
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 0.9em;
    color: #025f88;
}



:root {

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px 12px;
        text-align: left;
        font-size: 14px;
        // background-color: white;
    }

    th {
        background-color: #f5f5f5;
        font-weight: 600;
    }

    tr {
        background-color: aliceblue;

        // b {}

        code {
            background-color: rgba(202, 209, 215, 0.434);
            margin: 0 3px;
            padding: 2px 6px;
            border-radius: 5px;
            font-size: 12px;
            color: #3451b2;
            font-family: '优设标题黑';
            // 字符间距
            letter-spacing: 1px;
        }
    }

    tr:nth-child(even) {
        background-color: white;
    }

    // tr:hover {
    //     background-color: #f0f8ff;
    // }
}